* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
}


.navbar {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid grey; */
    /* gap: 15vw; */
    justify-content: space-between;
}

i {
    cursor: pointer;
    margin: 0 15px;
    font-size: 25px;
}

.logo {
    /* border: 1px solid black; */
    height: 5vh;
    width: 3vw;
}

.search {
    height: 5vh;
    width: 7vw;
    /* border: 1px solid black; */
}

.brand {
    display: flex;
    /* border: 1px solid black; */
    height: inherit;
    width: 15vw;
    align-items: center;
    padding: 15px 15px;
}
.navelements {
    /* border: 1px solid black; */
    height: inherit;
    width: auto;
    align-items: center;
    padding: 15px 15px;

}

.profile {
    height: inherit;
    width: auto;
    align-items: center;
    padding: 15px 15px;
    /* border: 1px solid black; */

}



.content {
    height: calc(100% - 7vh);
    width: 100%;
}

.heading {
    height: 12vh;
    width: inherit;
}

.heading h1 {
    font-size: 10vh;
}

.team {
    height: 40vh;
    width: inherit;
    align-items: center;
    justify-content: space-around;
    border: 1px dotted grey;
    display: flex;
}

#tm {
    font-size: 5vh;
    padding-left: 40%;
}

.cards {
    height: 30vh;
    width: 40%;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-around;
}

.cards .img-profile img {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}

.details {
    height: 20vh;
    width: 20vw;
    border: 1px solid black;
   padding-top: 5vh;
   padding-left: 5vw;
}


.vision  {
    height: 30vh;
    width: inherit;
    align-items: center;
    justify-content: space-around;
    border: 1px dotted grey;
    display: flex;
}

.vision img {
    height: 30vh;
    width: 60vw;
}

.sections {
    height: 37vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.sub-section {
    gap: 2vh;
    height: auto;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    border: .5px solid grey;
    border-radius: 5px;
    align-items: center;
}

.Sub-section h2 {
    padding-left: 5vw;
}


.contact-us {
    height: 30vh;
    width: inherit;
    align-items: center;
    justify-content: space-between;
    padding-left: 40%;
    font-size: large;
    gap: 2vh;
}

.contact-us h4 {
    font-size: 5vh;
}


.socials {
    height: 5vh;
    width: auto;
    align-items: center;
    display: flex;
    gap: 2vh;
    font-size: large;
    display: block;
}

.copyrights {
    height: 5vh;
    width: inherit;
    align-items: center;
   justify-content: center;
   padding-left: 35%;
   padding-top: 1%;
    gap: 2vh;
    background: black;
    color: white;
}




